In [15]:
import requests
import json
import csv

class c_bls_data:

    def __init__(self, reg_key, out_file_nm, series_id, start_year, end_year):

        # Set the file name variable and create the parameters for the API request.
        self.out_file_nm = out_file_nm
        
        headers = {'Content-type': 'application/json'}
        parameters = json.dumps({'seriesid' : series_id, 'startyear' : start_year, 'endyear' : end_year, 'calculations' : True , 'registrationkey' : reg_key})

        # Get data in JSON format and then write it to a CSV file.

        json_data = self.get_data(headers, parameters)

        self.write_data_to_csv(json_data)

    def get_data(self, headers, parameters):

        # Post the data request to the BLS API. Return the resulting JSON structure.

        post = requests.post('https://api.bls.gov/publicAPI/v2/timeseries/data/', data = parameters, headers = headers)
        json_data = json.loads(post.text)

        return json_data

    def write_data_to_csv(self, json_data):

        # Convert the data from JSON format to CSV records. Write
        # each record to the specified output file.

        # Open the output file. Then, set up the field names for the CSV records and set up the CSV writer.
        with open(self.out_file_nm, mode = 'w', newline = '') as data_file:

            fieldnames = ['Series ID', 'Month', 'Value', 'Annual Percent Change', 'Monthly Percent Change']

            data_writer = csv.writer(data_file, delimiter = ',', quotechar = '"', quoting = csv.QUOTE_ALL)

            # Write CSV file header.
            data_writer.writerow(fieldnames)

            # Write each record to the output file.
            for series in json_data['Results']['series']:
                series_id = series['seriesID']
                for item in series['data']:

                    # Get the basic data
                    year = item['year']
                    period_name = item['periodName']
                    value = item['value']

                    # Get the 12-month change
                    calculations = item['calculations']
                    pct_changes = calculations['pct_changes']
                    annual_pct_chg = pct_changes['12']
                    

                    # Create a month field in the format of a date for 
                    # the first day of each month (for example: January 1, 2022).

                    month = period_name + ' 1, ' + year

                    #Write the CSV record to the output file.
                    data_writer.writerow([series_id, month, value, annual_pct_chg])

In [29]:
c_bls_data('19bcb2360bec44039226911ecbc6f326', 'Medical03_22.csv', ['CUUR0000SAH1' ], 2003, 2022)

In [5]:
file_path = ("inflation.csv")

In [9]:
import pandas as pd
import numpy as np 
import hvplot.pandas 

from pathlib import Path 
import panel as pn
from panel.interact import interact
from panel import widgets 

%matplotlib inline
import matplotlib.pyplot as plt
import datetime 

import os
import requests
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi
from alpaca_trade_api.rest import REST, TimeFrame

inflat_cs = pd.read_csv(file_path, infer_datetime_format=True,parse_dates=True)

In [10]:
inflat_cs.head()

     Series ID             Month    Value  Annual Percent Change
0  CUSR0000SA0       May 1, 2022  291.474                    8.5
1  CUSR0000SA0     April 1, 2022  288.663                    8.2
2  CUSR0000SA0     March 1, 2022  287.708                    8.6
3  CUSR0000SA0  February 1, 2022  284.182                    7.9
4  CUSR0000SA0   January 1, 2022  281.933                    7.5

In [13]:
inflat_df = pd.DataFrame(inflat_cs)

In [22]:
#inflat_df = inflat_df.set_index['Series ID']

In [25]:
data_info = inflat_df.dtypes

In [26]:
print(data_info)

Series ID                 object
Month                     object
Value                    float64
Annual Percent Change    float64
dtype: object

In [32]:
inflat_df = inflat_df.set_index('Series ID', drop=True, append=False, inplace=False, verify_integrity=False)

In [33]:
inflat_Transp = inflat_df.transpose()

In [34]:
inflat_Transp.head()

Series ID,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,CUSR0000SA0,...,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02,CUSR0000SETA02
Month,"May 1, 2022","April 1, 2022","March 1, 2022","February 1, 2022","January 1, 2022","December 1, 2021","November 1, 2021","October 1, 2021","September 1, 2021","August 1, 2021",...,"October 1, 2003","September 1, 2003","August 1, 2003","July 1, 2003","June 1, 2003","May 1, 2003","April 1, 2003","March 1, 2003","February 1, 2003","January 1, 2003"
Value,291.474,288.663,287.708,284.182,281.933,280.126,278.524,276.59,274.214,273.092,...,135.1,139.0,143.3,145.7,147.4,147.9,148.4,148.5,148.4,148.3
Annual Percent Change,8.5,8.2,8.6,7.9,7.5,7.1,6.8,6.2,5.4,5.2,...,-10.4,-8.7,-6.6,-4.6,-3.2,-2.6,-2.2,-2.4,-3.6,-4.7

KeyError: "None of ['Month'] are in the columns"